In [1]:
# Import necessary libraries
import pandas as pd
import numpy as np

In [4]:
# Load the dataset into a pandas dataframe
df = pd.read_csv(r'C:/Users/Chinu/Downloads/Amazon Sales FY2020-21.csv/Amazon Sales FY2020-21.csv')

C:\Users\Chinu\AppData\Local\Temp\ipykernel_12512\86202833.py:2: DtypeWarning: Columns (0) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(r'C:/Users/Chinu/Downloads/Amazon Sales FY2020-21.csv/Amazon Sales FY2020-21.csv')

In [5]:
# Check the first 5 rows of the dataframe
print(df.head())

    order_id  order_date    status  item_id                  sku  qty_ordered  \
0  100354678  01/10/2020  received   574772   oasis_Oasis-064-36           21
1  100354678  01/10/2020  received   574774      Fantastic_FT-48           11
2  100354680  01/10/2020  complete   574777      mdeal_DMC-610-8            9
3  100354680  01/10/2020  complete   574779   oasis_Oasis-061-36            9
4  100367357  13/11/2020  received   595185  MEFNAR59C38B6CA08CD            2

   price   value  discount_amount   total  ... Sign in date    Phone No.   \
0   89.9  1798.0              0.0  1798.0  ...    8/22/2006  405-959-1129
1   19.0   190.0              0.0   190.0  ...    8/22/2006  405-959-1129
2  149.9  1199.2              0.0  1199.2  ...    8/22/2006  405-959-1129
3   79.9   639.2              0.0   639.2  ...    8/22/2006  405-959-1129
4   99.9    99.9              0.0    99.9  ...    8/22/2006  405-959-1129

  Place Name  County    City State    Zip Region User Name Discount_Percent
0     Vinson  Harmon  Vinson    OK  73571  South   jwtitus              0.0
1     Vinson  Harmon  Vinson    OK  73571  South   jwtitus              0.0
2     Vinson  Harmon  Vinson    OK  73571  South   jwtitus              0.0
3     Vinson  Harmon  Vinson    OK  73571  South   jwtitus              0.0
4     Vinson  Harmon  Vinson    OK  73571  South   jwtitus              0.0

[5 rows x 35 columns]

In [6]:
# Check the data types of each column
print(df.dtypes)

order_id             object
order_date           object
status               object
item_id               int64
sku                  object
qty_ordered           int64
price               float64
value               float64
discount_amount     float64
total               float64
category             object
payment_method       object
bi_st                object
cust_id               int64
year                  int64
month                object
ref_num               int64
Name Prefix          object
First Name           object
Middle Initial       object
Last Name            object
Gender               object
age                   int64
full_name            object
E Mail               object
Sign in date         object
Phone No.            object
Place Name           object
County               object
City                 object
State                object
Zip                   int64
Region               object
User Name            object
Discount_Percent    float64
dtype: object

In [7]:
# Check for missing values in each column
print(df.isnull().sum())

order_id            0
order_date          0
status              0
item_id             0
sku                 0
qty_ordered         0
price               0
value               0
discount_amount     0
total               0
category            0
payment_method      0
bi_st               0
cust_id             0
year                0
month               0
ref_num             0
Name Prefix         0
First Name          0
Middle Initial      0
Last Name           0
Gender              0
age                 0
full_name           0
E Mail              0
Sign in date        0
Phone No.           0
Place Name          0
County              0
City                0
State               0
Zip                 0
Region              0
User Name           0
Discount_Percent    0
dtype: int64

In [8]:
# Check for duplicates in the dataframe
print(df.duplicated().sum())

0

In [9]:
# Generate summary statistics for each column
print(df.describe())

             item_id    qty_ordered          price          value  \
count  286392.000000  286392.000000  286392.000000  286392.000000
mean   741664.902131       3.011296     851.385253     885.879934
std     95746.031827       4.573837    1741.750751    2073.252179
min    574769.000000       1.000000       0.000000       0.000000
25%    659684.500000       2.000000      49.900000      49.900000
50%    742309.000000       2.000000     119.000000     158.970000
75%    826124.250000       3.000000     950.000000     910.000000
max    905208.000000     501.000000  101262.590000  101262.590000

       discount_amount          total        cust_id           year  \
count    286392.000000  286392.000000  286392.000000  286392.000000
mean         70.039427     815.840507   70048.019054    2020.618778
std         256.880870    1983.580302   30243.856395       0.485688
min           0.000000       0.000000       4.000000    2020.000000
25%           0.000000      49.900000   56519.000000    2020.000000
50%           0.000000     149.800000   74225.500000    2021.000000
75%          18.383050     800.000000   92357.000000    2021.000000
max       30213.150000  101262.590000  115326.000000    2021.000000

             ref_num            age            Zip  Discount_Percent
count  286392.000000  286392.000000  286392.000000     286392.000000
mean   560853.663395      46.489033   49723.160015          6.069079
std    255828.418398      16.673288   27597.198873         10.100100
min    111127.000000      18.000000     210.000000          0.000000
25%    341265.000000      32.000000   26571.750000          0.000000
50%    564857.000000      47.000000   49316.000000          0.000000
75%    781086.000000      61.000000   72645.000000         11.000000
max    999981.000000      75.000000   99950.000000         75.000000

In [14]:
# Calculate the correlation matrix between numeric columns
corr_matrix = df.corr()
print(corr_matrix)

                   item_id  qty_ordered     price     value  discount_amount  \
item_id           1.000000     0.103074  0.072898  0.078383        -0.073722
qty_ordered       0.103074     1.000000 -0.103748  0.005123         0.021244
price             0.072898    -0.103748  1.000000  0.767113         0.241494
value             0.078383     0.005123  0.767113  1.000000         0.403482
discount_amount  -0.073722     0.021244  0.241494  0.403482         1.000000
total             0.091474     0.002603  0.770518  0.992955         0.292218
cust_id           0.413622    -0.012639  0.107743  0.115429        -0.020460
year              0.843113     0.119646  0.019229  0.039287        -0.092108
ref_num           0.008687     0.011227 -0.001493 -0.006652        -0.005109
age              -0.006897     0.000552 -0.007935 -0.002973         0.000782
Zip              -0.007635     0.005192 -0.000976 -0.003190         0.002785
Discount_Percent -0.133427     0.073697  0.053462  0.077948         0.426131

                     total   cust_id      year   ref_num       age       Zip  \
item_id           0.091474  0.413622  0.843113  0.008687 -0.006897 -0.007635
qty_ordered       0.002603 -0.012639  0.119646  0.011227  0.000552  0.005192
price             0.770518  0.107743  0.019229 -0.001493 -0.007935 -0.000976
value             0.992955  0.115429  0.039287 -0.006652 -0.002973 -0.003190
discount_amount   0.292218 -0.020460 -0.092108 -0.005109  0.000782  0.002785
total             1.000000  0.123297  0.052991 -0.006291 -0.003209 -0.003695
cust_id           0.123297  1.000000  0.352969 -0.016442 -0.006795 -0.001935
year              0.052991  0.352969  1.000000  0.000865  0.000048 -0.000731
ref_num          -0.006291 -0.016442  0.000865  1.000000 -0.012898 -0.016433
age              -0.003209 -0.006795  0.000048 -0.012898  1.000000  0.001808
Zip              -0.003695 -0.001935 -0.000731 -0.016433  0.001808  1.000000
Discount_Percent  0.026287 -0.153045 -0.181190 -0.002294 -0.001719 -0.004532

                  Discount_Percent
item_id                  -0.133427
qty_ordered               0.073697
price                     0.053462
value                     0.077948
discount_amount           0.426131
total                     0.026287
cust_id                  -0.153045
year                     -0.181190
ref_num                  -0.002294
age                      -0.001719
Zip                      -0.004532
Discount_Percent          1.000000

In [20]:
# Convert date columns to datetime data types
df['order_date'] = pd.to_datetime(df['order_date'])
df['Sign in date'] = pd.to_datetime(df['Sign in date'])

In [21]:
# Convert data type of Zip code column to string data type
df['Zip'] = df['Zip'].astype(str)

In [22]:
df.head()

,order_id,order_date,status,item_id,sku,qty_ordered,price,value,discount_amount,total,...,Phone No.,Place Name,County,City,State,Zip,Region,User Name,Discount_Percent,year_month
0,100354678,2020-01-10,received,574772,oasis_Oasis-064-36,21,89.9,1798.0,0.0,1798.0,...,405-959-1129,Vinson,Harmon,Vinson,OK,73571,South,jwtitus,0.0,2020-01
1,100354678,2020-01-10,received,574774,Fantastic_FT-48,11,19.0,190.0,0.0,190.0,...,405-959-1129,Vinson,Harmon,Vinson,OK,73571,South,jwtitus,0.0,2020-01
2,100354680,2020-01-10,complete,574777,mdeal_DMC-610-8,9,149.9,1199.2,0.0,1199.2,...,405-959-1129,Vinson,Harmon,Vinson,OK,73571,South,jwtitus,0.0,2020-01
3,100354680,2020-01-10,complete,574779,oasis_Oasis-061-36,9,79.9,639.2,0.0,639.2,...,405-959-1129,Vinson,Harmon,Vinson,OK,73571,South,jwtitus,0.0,2020-01
4,100367357,2020-11-13,received,595185,MEFNAR59C38B6CA08CD,2,99.9,99.9,0.0,99.9,...,405-959-1129,Vinson,Harmon,Vinson,OK,73571,South,jwtitus,0.0,2020-11